<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
            <h1>Cactus</h1> 
            <a href="/">Admin</a>
            <a href="/">Cactus</a>
            <a href="/">Suculentas</a>
            <a href="/">Orquideas</a>

</body>
</html>