<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link href="https://fonts.googleapis.com/css?family=Lato|Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    
   
     <div class="cont">
                <a class="nav" href="/">Home</a>
            <a class="nav"href="/cactus">Cactus</a>
            <a class="nav"href="/suculentas">Suculentas</a>
            <a class="nav" href="/rosas">Rosas</a>
             <a class="navA" href="/admin">Admin</a>
            </div>

        <div class="banner">
             <h1 class="nombre">Admin</h1> 
            
            
        </div>

   
<table class="tabla">
  <tr>
    <th class="titulo">Nombre</th>
    <th class="titulo">Visitas</th>
    
  </tr>
  {{#each ListaVisitas.general}}
  
  <tr>
    <td class="texto"> {{url}}</td>
    <td class="texto"> {{ListaVisitas}}</td>
    
  </tr>
 
 
 {{/each}}
  
</table>




</body>
</html>