<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css?family=Lato|Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/cactus.css">
    
</head>

<body>

     <div class="cont">
                <a class="nav" href="/">Admin</a>
            <a class="navA"href="/cactus">Cactus</a>
            <a class="nav"href="/suculentas">Suculentas</a>
            <a class="nav" href="/rosas">Rosas</a>
            <a class="nav" href="/admin">Admin</a>
            </div>

        <div class="banner">
             <h1 class="nombre">Cactus</h1> 
            
            
        </div>
           
            

            <p class="descripcion">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
</body>
</html>