<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link href="https://fonts.googleapis.com/css?family=Lato|Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    
    <h1>Admin</h1>
     <a href="/">Admin</a>
            <a href="/cactus">Cactus</a>
            <a href="/suculentas">Suculentas</a>
            <a href="/rosas">Rosas</a>

    <table>
        {{#each ListaVisitas.general}}
        <tr>
            <td>Nombre: {{url}}</td>
            <td>Visitas: {{ListaVisitas}}</td>
            
        </tr>
         {{/each}}
    </table>

<table>
  {{#each ListaVisitas.general}}
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
 
 
 {{/each}}
  
</table>




</body>
</html>