<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <link href="https://fonts.googleapis.com/css?family=Lato|Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    
    <h1>Admin</h1>
     <a href="/">Admin</a>
            <a href="/cactus">Cactus</a>
            <a href="/suculentas">Suculentas</a>
            <a href="/rosas">Rosas</a>

    <table>
  <tr>
    <th>Página</th>
    <th>Visitas</th> 
    
  </tr>
  <tr>
    <td>Cactus</td>
    <td>0</td> 
    
  </tr>
  <tr>
    <td>Suculentas</td>
    <td>0</td> 
    
  </tr>

  <tr>
    <td>Rosas</td>
    <td>0</td> 
    
  </tr>
</table>
</body>
</html>